In [1]:
import pandas as pd
import numpy as np
import json


from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from tycoon.utils.airline_manager import login, route_stats, get_all_routes
from tycoon.utils.store import get_hub_df
from tycoon.utils.noway import find_seat_config
from tycoon.utils.data import RouteStats

In [2]:
chrome_options = Options()
chrome_options.add_argument("--window-size=1920x1080")
chrome_options.add_argument("--headless")


driver = webdriver.Chrome(options=chrome_options)

In [3]:
# login(driver)

In [3]:
df = get_hub_df("NGO")
df[df["destination"] == "AHB"]

,hub,destination,type,economy_demand,economy_remaining_demand,economy_price,business_demand,business_remaining_demand,business_price,first_demand,...,cargo_remaining_demand,cargo_price,aircraft_make,aircraft_model,wave_stats,created_at,updated_at,scheduled_flights_count,raw_stat,error
4,NGO,AHB,NaN,2871,-1389,2980,463,-209,3963,144,...,325,10262,NaN,NaN,NaN,2022-08-28 01:03:03.744680,2022-08-28 01:03:03.744680,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN

In [21]:
route_stats = RouteStats.from_json(
    df.loc[df["destination"] == "AHB", "raw_stat"].values[0]
)
route_stats

RouteStats(economy=RouteStat(price='2980', demand='2871', remaining_demand='-1389'), business=RouteStat(price='3963', demand='463', remaining_demand='-209'), first=RouteStat(price='6853', demand='144', remaining_demand='-72'), cargo=RouteStat(price='10262', demand='589', remaining_demand='325'), category=10, distance=9227, scheduled_flights=[ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546'), ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546'), ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546'), ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546'), ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546'), ScheduledAircraftConfig(model='747-400', seat_config='429 (355/56/18)', result='22873546')], wave_stats={})

In [25]:
dest_idx = df[df["destination"] == "AHB"].index[0]
df.loc[dest_idx, "raw_stat"]

'{"economy": {"price": "2980", "demand": "2871", "remaining_demand": "-1389"}, "business": {"price": "3963", "demand": "463", "remaining_demand": "-209"}, "first": {"price": "6853", "demand": "144", "remaining_demand": "-72"}, "cargo": {"price": "10262", "demand": "589", "remaining_demand": "325"}, "category": 10, "distance": 9227, "scheduled_flights": [{"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}]}'

In [6]:
route_stats = find_seat_config(
    driver, "NGO", "AHB", "Airbus", "A380-800", route_stats, no_negative=True
)

ERROR:root:No config for wave: 6

In [20]:
route_stats.wave_stats[list(route_stats.wave_stats.keys())[-2]]

WaveStat(no=4, economy=355, business=56, first=18, cargo=44, turnover_per_wave=3840000.0, roi=0.83, total_turnover=15370000.0, turnover_days=120, max_configured='88.22%')

In [ ]:
df[df["destination"] == "AHB"]