In [96]:
import pandas as pd
import numpy as np
import json


from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from tycoon.utils.airline_manager import login, route_stats, get_all_routes
from tycoon.utils.store import get_hub_df

In [97]:
# chrome_options = Options()
# chrome_options.add_argument("--window-size=1920x1080")
# chrome_options.add_argument("--headless")


# driver = webdriver.Chrome(options=chrome_options)

# login(driver)

In [98]:
HUB = "NGO"

In [99]:
df = get_hub_df(HUB)
df

,hub,destination,type,economy_demand,economy_remaining_demand,economy_price,business_demand,business_remaining_demand,business_price,first_demand,...,cargo_remaining_demand,cargo_price,aircraft_make,aircraft_model,wave_stats,created_at,updated_at,scheduled_flights_count,raw_stat,error
0,NGO,AHB,NaN,2871,-1389,2980,463,-209,3963,144,...,325,10262,NaN,NaN,NaN,2022-08-28 00:57:08.007636,2022-08-28 00:58:03.771145,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN

In [78]:
df[df.economy_remaining_demand < 0]

,hub,destination,type,economy_demand,economy_remaining_demand,economy_price,business_demand,business_remaining_demand,business_price,first_demand,...,cargo_remaining_demand,cargo_price,aircraft_make,aircraft_model,wave_stats,created_at,updated_at,scheduled_flights_count,raw_stat,error
0,NGO,AHB,NaN,2871.0,-1389.0,2980.0,463.0,-209.0,3963.0,144.0,...,325.0,10262.0,NaN,NaN,NaN,2022-08-28 00:38:18.416008,2022-08-28 00:54:41.957332,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN
1,NGO,AHB,NaN,2871.0,-1389.0,2980.0,463.0,-209.0,3963.0,144.0,...,325.0,10262.0,NaN,NaN,NaN,2022-08-28 00:51:01.263213,2022-08-28 00:51:01.263213,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN
2,NGO,AHB,NaN,2871.0,-1389.0,2980.0,463.0,-209.0,3963.0,144.0,...,325.0,10262.0,NaN,NaN,NaN,2022-08-28 00:52:33.735005,2022-08-28 00:52:33.735005,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN

In [79]:
df[df.destination == "AHB"]['raw_stat'].values[0]

'{"economy": {"price": "2980", "demand": "2871", "remaining_demand": "-1389"}, "business": {"price": "3963", "demand": "463", "remaining_demand": "-209"}, "first": {"price": "6853", "demand": "144", "remaining_demand": "-72"}, "cargo": {"price": "10262", "demand": "589", "remaining_demand": "325"}, "category": 10, "distance": 9227, "scheduled_flights": [{"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}, {"model": "747-400", "seat_config": "429 (355/56/18)", "result": "22873546"}]}'

In [55]:
df.loc[df.iloc[-1].name + 1,:] = np.nan
df

,hub,destination,type,economy_demand,economy_remaining_demand,economy_price,business_demand,business_remaining_demand,business_price,first_demand,...,cargo_remaining_demand,cargo_price,aircraft_make,aircraft_model,wave_stats,created_at,updated_at,scheduled_flights_count,raw_stat,error
0,NGO,AHB,NaN,2871.0,-1389.0,2980.0,463.0,-209.0,3963.0,144.0,...,325.0,10262.0,NaN,NaN,NaN,2022-08-28 00:38:18.416008,2022-08-28 00:38:26.152869,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN
1,NGO,AHB,NaN,2871.0,-1389.0,2980.0,463.0,-209.0,3963.0,144.0,...,325.0,10262.0,NaN,NaN,NaN,2022-08-28 00:51:01.263213,2022-08-28 00:51:01.263213,6.0,"{""economy"": {""price"": ""2980"", ""demand"": ""2871""...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
dest_idx = df[df["destination"] == "AH4B"].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [72]:
dest_idx.values

array([], dtype=int64)

In [91]:
if not df.empty:
    df.iloc[-1].name + 1